<form method="POST" action="" class="new-user-form">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input
            class="form-control"
            name="firstName"
            id="firstName"
            placeholder="First name"
            required
        />
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input
            class="form-control"
            name="lastName"
            id="lastName"
            placeholder="Last name"
            required
        />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="name@example.com"
            required
        />
    </div>

    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>